.register-thought{
    display: grid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 1140px;

    justify-content: space-around;
}

.register-thought .header{
    padding: 32px 0;
}

.register-thought .header .title h2{
    color: white;
    font-size: 32px;

    display: flex;
    align-items: center;
    grid-area: 16px;
}

.register-thought .header .title h2::before{
    content: "";
    height: 32px;
    width: 3px;
    background-color: #068FFF;
    display: block;
}

.register-thought .form form .form-field{
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-bottom: 24px;
}

.register-thought .form form label{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.register-thought .form form .form-field input{
    background: none;
    border: 2px solid #E4F1FF;
    padding: 8px;

    font-size: 16px;
    color: #E4F1FF;
    
    outline: none;
}

.register-thought .form .form-button{
    padding: 12px 0;
}

.register-thought .form .form-button button{
    background: none;
    border: 2px solid #068FFF;
    padding: 12px 16px;
    
    color: #068FFF;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.register-thought .form form .form-button button:hover{
    background-color: #068FFF;
    color: white;
}